@font-face {
    font-family: "Whitney Light";
    src: url("./assets/fonts/whitneylight.woff") format("woff");
  }
  
  @font-face {
    font-family: "Whitney Medium";
    src: url("./assets/fonts/whitneymedium.woff") format("woff");
  }
  
  @font-face {
    font-family: "Whitney Bold";
    src: url("./assets/fonts/whitneybold.woff") format("woff");
  }
  * {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  :root {
    --light-clr: #fff;
    --dark-clr: #23272a;
    --brand-clr: #5865F2;
    --hover-brand-clr: #4852bd;
    --off-white-clr: #f6f6f6;
    --general-font-size: 2rem;
    --primary-title-font-size: 4.8rem;
    --secondary-title-font-size: 4rem;
    --main-font-family-light: "Whitney Light", sans-serif;
    --main-font-family-medium: "Whitney Medium", sans-serif;
    --main-font-family-bold: "Whitney Bold", sans-serif;
    --num-of-grid-columns: 4;
    --section-spacing: 5.6rem 2.4rem;
    --container-width: 126rem;
  }

  body{
    overflow: hidden;
    font-size: var(--general-font-size);
    font-family: var(--main-font-family-light);
  }
 
  .container {
    position: relative;
  }
  
  .logo-link {
    position: absolute;
    top: 20px;
    left: 60px;
  }
  
  .logo {
    width: 100px;
    height: 100px;
    filter: invert(100%);
    transform: scale(1.5);
  }
  
  .bg{
    /* position: relative; */
    display: flex;
    z-index: -1;
  }
  .rectangle {
    align-items: center;
    width: 700px;
    height: 400px;
    background-color: #313338;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
  }

  form {
    text-align: center ;
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: var(--main-font-family-bold);  
  }
  
  form h2 {
    margin-top: 20px;
    margin-bottom: 25px;
    font-family: var(--main-font-family-bold);
    color: rgb(208, 207, 207);
  }
  form h1 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: var(--main-font-family-bold);
    color: var(--light-clr);
  }
  
  form label {
    color: #b5bac1;
    margin-top: 10px;
    display: block;
    margin-bottom: 5px;
    margin-right: 10px;
    font-family: var(--main-font-family-bold);
    text-align: left;
    margin-left: 150px;
    font-size: small;
    font-weight: bold;
    
  }
  
  form input[type="email"],
  form input[type="password"] {
    width: 60%;
    height: 40px;
    /* margin-top: 10px; */
    padding: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: #1e1f22;
    font-size: 18px;
    color: #fff;
    border-radius: 5px;
  border: none;
  }
  
  form input[type="submit"] {
    width: 60%;
    height: 45px;
    margin-left: 10px;
    padding: 8px;
    margin-top: 10px;
    background-color: var(--brand-clr);
    color: white;
    border-radius: 10px;
    cursor: pointer;
    font-size: medium;
    box-shadow: none;
    border: none;
  }
  
  form input[type="submit"]:hover {
    background-color: var(--hover-brand-clr);
  }
  
  
  .Signup {
    display: inline-block;
    float: left;
    vertical-align: middle;
    font-size: 15px;
    margin-top: 10px;
    color: #00a8fc;
    margin-left: 0;
    text-decoration: none;
    
  }
  .Signup:hover {
    text-decoration: underline;
  }
  .forward{
    display: inline-block;
    float: left;
    font-size: 15px;
   
  }